fastapi[all]
uvicorn
mangum
firebase-admin
pandas
numpy
websockets
setuptools
pip
https://download.pytorch.org/whl/cpu/torch-1.13.1%2Bcpu-cp38-cp38-linux_x86_64.whl
transformers 
datasets 
evaluate
sentencepiece
beautifulsoup4
aws-lambda-powertools
huggingface-hub
tqdm
scikit-learn